.card {
}
.card-header {
  padding: 0;
  height: 250px;
  overflow: hidden;
}
.card-img {
  padding: 0;
}
.card-title {
  font-size: large;
  font-weight: 700;
}
.card-subtitle {
  text-align: center;
  padding: 8px 0;
}
.card-body {
  opacity: 0.4;
  background-color: white;
}
.card-footer {
  display: flex;
  gap: 8px;
  background: none;
  justify-content: center;
  overflow-x: auto;
  opacity: 0.4;
}
.card:hover .card-body,
.card-footer {
  opacity: 1;
  transition: 0.125s ease;
}
.card-footer .button-group {
  display: flex;
  gap: 4px;
}
