#main--navbar { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: 0;
}
#main--navbar .navbar-nav {
    gap: 30px;
    font-size: large;
}
#main--navbar .navbar-brand h3{
    color: #F15E2C !important;
    margin: 0;
}